.number, .operator {
  height: 50px;
  width: 50px;
  background-color: bisque;
  border-radius: 10%;
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.outerDiv {
  display: flex;
  flex-direction: column;
}

.innerDiv {
  display: flex;
  flex-direction: row;
}

.operatorOuterDiv {
  display: flex;
}