.mainDiv {
  display: flex;
  width: 500px;
  height: 500px;
}

.image {
  cursor: pointer;
}

#dynamicImageDiv {
  height: 1000px;
  width: 1000px;
  border: 5px solid black;
}

#dynamicImage {
  width: 100%;
  height: 100%;
}

#deleteButton {
  width: 50px;
  height: 50px;
  background-color: black;
  color: red;
  font-size: xx-large;
  cursor: pointer;
}
